language: php
sudo: true

php:
  - 7.1
  - 7.2
  - 7.3

env:
  global:
    - COMPOSER_MEMORY_LIMIT=2G
  matrix:
    - TEST_SUITE=Behat
    - TEST_SUITE=PHPUnit
    - TEST_SUITE=PHP_CodeSniffer

# Only run the coding standards check once.
matrix:
  exclude:
    - php: 7.1
      env: TEST_SUITE=PHP_CodeSniffer
    - php: 7.2
      env: TEST_SUITE=PHP_CodeSniffer

mysql:
  database: cas_mock_server
  username: root
  encoding: utf8

before_script:
  # Remove Xdebug as we don't need it and it causes "PHP Fatal error: Maximum
  # function nesting level of '256' reached."
  # We also don't care if that file exists or not on PHP 7.
  - phpenv config-rm xdebug.ini || true

  # Make sure Composer is up to date.
  - composer self-update

  # Store the current directory for later use in the Drupal installation.
  - MODULE_DIR=$(pwd)

  # Store the Drupal installation path.
  - DRUPAL_DIR=$(pwd)/../cas_mock_server_build

  # Create database.
  - mysql -e 'create database cas_mock_server'

  # Install Composer dependencies.
  - composer install

  # Start a web server on port 8888 in the background.
  - test ${TEST_SUITE} == "PHP_CodeSniffer" || nohup php -S localhost:8888 --docroot $DRUPAL_DIR > /dev/null 2>&1 &

  # Wait until the web server is responding.
  - test ${TEST_SUITE} == "PHP_CodeSniffer" || until curl -s localhost:8888; do true; done > /dev/null

  # Export web server URL for browser tests.
  - export SIMPLETEST_BASE_URL=http://localhost:8888

  # Export database variable for kernel tests.
  - export SIMPLETEST_DB=mysql://root:@127.0.0.1/cas_mock_server

script: DRUPAL_DIR=$DRUPAL_DIR MODULE_DIR=$MODULE_DIR $MODULE_DIR/scripts/travis-ci/run-test.sh $TEST_SUITE
