default:
  suites:
    default:
      contexts:
        - Drupal\DrupalExtension\Context\MessageContext
        - Drupal\DrupalExtension\Context\DrupalContext
        - Drupal\DrupalExtension\Context\MinkContext
        - Drupal\Tests\cas_mock_server\Context\CasMockServerContext:
            attributes_map:
              firstname: First name
              lastname: Last name
        - Drupal\Tests\cas_mock_server\Context\FeatureContext
      paths:
        - '%paths.base%/tests/features'
  extensions:
    Drupal\MinkExtension:
      base_url: 'http://localhost:80'
      goutte: ~
    Drupal\DrupalExtension:
      api_driver: 'drupal'
      region_map:
        Content: '.section--content-middle'
      drupal:
        drupal_root: '../cas_mock_server_build'
      selectors:
        message_selector: '.messages'
        error_message_selector: '.messages.messages--error'
        success_message_selector: '.messages.messages--status'
        warning_message_selector: '.messages.messages--warning'
  formatters:
    progress: ~
